.Main {
  grid-area: Main;
  margin: -22px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: olivedrab;
}

.articles {
  /* grid-area: Main; */
  /* border: solid 1px pink; */
  /* overflow-y: scroll; */
  /* margin: -22px; */
  list-style: none;
  /* padding: 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #8fbc8f;
}
.article {
  width: 100%;
  border: solid 1px black;
  background-color: lavenderblush;
  margin: 10px;
  border-radius: 10px;
}

/* .comment {
  border: solid 1px pink;
  overflow-y: scroll;
  margin: -22px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #8fbc8f;
} */

/* .comment h3 {
  grid-area: comment;
}
.comment p {
  grid-area: comment;
}

comment a {
  grid-area: comment;
} */
.comment {
  width: 100%;
  border: solid 1px black;
  background-color: lightgrey;
  margin: 10px;
  border-radius: 10px;
}
button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
