.article_dislpay {
  grid-area: Main;
  background-color: whitesmoke;
  grid-area: Main;
  display: grid;
  grid-gap: 20px;
}

.articles {
  background: whitesmoke;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  text-align: center;
  list-style: none;
  overflow-y: scroll;
  height: 800px;
  margin: 0px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  color: whitesmoke;
  text-shadow: 2px 2px grey;
}

.artLink {
  color: black;
}

.article {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: inline-block;
  width: 28%;

  /* border: solid 1px black; */
  background-color: #3399ff;
  margin: 10px;
  border-radius: 10px;
}

.article:hover {
  box-shadow: 0px 0px 10px 2px grey;
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
}

.sortbuttons {
  grid-area: Main;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  cursor: pointer;
}

.sort_button {
  border-radius: 4px;
  background-color: #3399ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* articlePage */

.single_article {
  background: whitesmoke;
  list-style: none;
  /* display: grid; */

  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  /* grid-row-gap: 0px; */
  grid-template-areas:
    "ArticleTitle"
    "ArticleDetails"
    "Votes/Comments"
    "NewComment"
    "Comments";
}

.articleTitle {
  grid-area: ArticleTitle;
  width: 100%;
  height: 25%;
  text-align: center;
  margin: 0;
}

.articleDetails {
  grid-area: ArticleDetails;
  width: 100%;
  height: 25%;

  justify-content: center;
}

.articleInfo {
  grid-area: Votes/Comments;
  text-align: center;
}

.addcommentbar {
  grid-area: NewComment;
  min-height: 8em;
  line-height: 1.5em;
  width: 100%;
  scroll-behavior: auto;
  font-size: 100%;
  overflow: auto;
  text-align: center;
  justify-content: center;
}

.typingSpace {
  margin: 0px;
  width: 1225px;
  height: 123px;
}

.submitButton {
  border-radius: 4px;
  background-color: #3399ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.comments {
  grid-area: Comments;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  color: white;
  text-shadow: 2px 2px grey;
}

.comment {
  grid-area: Comments;

  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  width: 28%;
  border: solid 1px black;
  background-color: #3399ff;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.delButton {
  border-radius: 4px;
  background-color: rgb(98, 94, 94);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-shadow: 2px 2px black;
}

img {
  width: 600px;
  height: 450px;
  background: url("https://3wga6448744j404mpt11pbx4-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif")
    50% no-repeat;
  border: 1px solid black;
  border-radius: 5px;
}
