.Main {
  grid-area: Main;
  text-align: center;
  background-color: blue;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
