@media only screen and (max-height: 600px) {
}
.Heading {
  grid-area: Heading;
  background-image: url("../../img/photo-1476242906366-d8eb64c2f661.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
}

.Title {
  color: white;
  text-align: center;
  margin: 100px;
  font-size: 5ex;
  text-shadow: 2px 2px grey;
}
