/* .Footer {
  grid-area: Footer;
  background-color: grey;
  display: flex;
  width: 100%;
}

.FootInfo {
  justify-content: center;
  background-color: grey;
}
.Title {
  font-size: 20px;
}

.hyper1 {
  left: 10%;
  position: relative;
  font-size: 2em;
}

.hyper2 {
  left: 35%;
  position: relative;
  font-size: 2em;
}

.ReadMe {
  left: 60%;
  position: relative;
  font-size: 2em;
} */
