.Footer {
  grid-area: Footer;
  text-align: center;
  background-color: #3498db;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.hyper {
  color: whitesmoke;
  justify-content: space-evenly;
  /* background-color: blueviolet; */
}
