.App {
  text-align: center;
  height: 100vw;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-areas:
    "Heading"
    "NavBar"
    "Main"
    "Footer";
  background-color: #808080;
  list-style: none;
}
